body{
    font-family: "Georgia";
    margin-left:130px;
    position:relative;
}


/* BACK TO TOP 
============================================*/

#back_top {
    position: fixed;
    bottom: 30px;
    right: 300px;
}

#back_top a {
    display: block;
    text-decoration: none;
    color: gray;
}
#back_top a:hover {
    color: black;
}

/* HEADER
============================================*/

#header {
    height: 70px;
    position:relative;
    margin-left:100px;
    margin-top:30px;
    font-size:115%;
}

#header a {
    text-decoration:none;
    color:black;
    opacity: 0.7;
}

#header_aboutus {
    margin-right:20px;
}

#header_aboutus a {
}

#header_separator1{
    color:black;
    opacity: 0.7;
}

#header_openinghours {
    margin-right:20px;
    margin-left:20px;
}

#header_openinghours a {
}

#header_separator2{
    color:black;
    opacity: 0.7;
}

#header_requestappointment {
    margin-left:20px;
    margin-right:20px;
}

#header_requestappointment a {   
}

#header_separator3{
    color:black;
    opacity: 0.7;
}

#header_payment {
    margin-left:20px;
}

#header_payment a {   
}

/* SLIDE SHOW
============================================*/


.fader{
    position: absolute;
    top: 85px;
    left: 470px;
    width: 450px;
    height: 270px;
    overflow: hidden;
    border-radius: 15px;
}

.fader .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 0;
}

.fader .img.slide{      

}

.fader_controls{
    position: absolute;
    bottom: 10px;
    left: 200px;
    z-index: 4;
    background: darkgray;
    height: 12px;
    width: 42px;
    border-radius: 5px;
    padding-left: 3px;
    padding-top: 2px;
}

.fader_controls .page{
    float: left;
    background:url("../images/buttonwhite.jpg") 0 0 no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 4px;
}

.fader_controls .active{
    background:url("../images/buttonred.jpg") 0 0 no-repeat;
}

/* TITLE
============================================*/

#title{
    position:relative;
    width:500px;
    height:130px;
    font-family: 'Signika', sans-serif;
    margin-left: 20px;
}

#title_main{
    position:absolute;
    font-size:270%;
    color:darkblue;
    left:0px;
    top:0px;
}

#title_sub{
    position:absolute;
    font-size:180%;
    color:darkblue;
    left:0px;
    top:60px;
}

/* REASONS
============================================*/

#reasons{
    position:relative;
    height:100px;
    margin-left:70px;
}

#reason_1{
    margin-bottom:5px;
}

#reason_2{
    margin-bottom:5px;
}

#reason_3{
    margin-bottom:5px;
}

#reason_4{
    margin-bottom:5px;
}

/* APPOINTMENT
============================================*/

#appointment{
    position:relative;
    font-size: 150%;   
    margin-top: 20px;
    margin-left: 30px;
    height: 50px;
    width: 300px;
    background-color:lightgray;
    border-radius:10px;
    margin-bottom:200px;
}

#appointment_a{
    position:absolute;
    top: 10px;
    left: 30px;
    text-decoration:none;
    color:darkblue;
}

/* About Us
============================================*/

#aboutus{
    font-size:200%;
    font-family: 'Signika', sans-serif;
    color:red;
    opacity: 0.8;
}

#aboutus_content{
    width: 400px;
    height:600px;
}

/* Opening Hours
============================================*/

#openinghours{
    font-size:200%;
    font-family: 'Signika', sans-serif;
    color:darkblue;
}

#openinghours_content{
    width: 400px;
    height:600px;
}

/* Request Appointment 
============================================*/

#requestappointment{
   font-size:200%;
   font-family: 'Signika', sans-serif;
   color:red;
   opacity: 0.8;
}

#requestappointment_content{
    width: 400px;
    height:600px;
}

/* Payment and Billing
============================================*/

#payment{
   font-size:200%;
   font-family: 'Signika', sans-serif;
   color:darkblue;
   opacity: 0.8;
}

#payment_content{
    width: 400px;
    height:600px;
}