body{
    font-family: "Georgia";
    position:relative;
}


/* BACK TO TOP 
============================================*/

#back_top {
    position: fixed;
    bottom: 30px;
    left: 950px;
    width:120px;
    height:40px;
    padding-left:25px;
    padding-top:12px;
    z-index:10;
}

#back_top a {
    display: block;
    text-decoration: none;
    color: gray;
}
#back_top a:hover {
    color: darkgray;
}

/* HEADER
============================================*/

#header {
    height: 70px;
    width: 950px;
    position:relative;
    margin-left:180px;
    margin-top:30px;
    font-size:115%;
}

#header a {
    text-decoration:none;
    color:black;
    opacity: 0.7;
}

#header_location {
    margin-right:20px;
}

#header_location a {
}

#header_separator1{
    color:black;
    opacity: 0.7;
}

#header_openinghours {
    margin-right:20px;
    margin-left:20px;
}

#header_openinghours a {
}

#header_separator2{
    color:black;
    opacity: 0.7;
}

#header_requestappointment {
    margin-left:20px;
    margin-right:20px;
}

#header_requestappointment a {   
}

#header_separator3{
    color:black;
    opacity: 0.7;
}

#header_aboutus {
    margin-right:20px;
    margin-left:20px;
}

#header_aboutus a {
}

#header_separator1{
    color:black;
    opacity: 0.7;
}

#header_payment {
    margin-left:20px;
}

#header_payment a {   
}

/* SLIDE SHOW
============================================*/


.fader{
    position: absolute;
    top: 85px;
    left: 600px;
    width: 450px;
    height: 270px;
    overflow: hidden;
    border-radius: 15px;
}

.fader .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 0;
}

.fader .img.slide{      

}

.fader_controls{
    position: absolute;
    bottom: 10px;
    left: 200px;
    z-index: 4;
    background: darkgray;
    height: 12px;
    width: 42px;
    border-radius: 5px;
    padding-left: 3px;
    padding-top: 2px;
}

.fader_controls .page{
    float: left;
    background:url("../images/buttonwhite.jpg") 0 0 no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 4px;
}

.fader_controls .active{
    background:url("../images/buttonred.jpg") 0 0 no-repeat;
}

/* TITLE
============================================*/

#title{
    position:relative;
    width:500px;
    height:130px;
    font-family: 'Signika', sans-serif;
    margin-left: 150px;
}

#title_main{
    position: relative;
    font-size:270%;
    color:darkblue;
}

#title_sub{
    position:relative;
    top:-5px;
    font-size:180%;
    color:darkblue;
}

#title_address{
    line-height: 130%;
}

/* REASONS
============================================*/

#reasons{
    position:relative;
    margin-top:30px;
    height:100px;
    margin-left:200px;
}

#reason_1{
    margin-bottom:5px;
}

#reason_2{
    margin-bottom:5px;
}

#reason_3{
    margin-bottom:5px;
}

#reason_4{
    margin-bottom:5px;
}

/* APPOINTMENT
============================================*/

#appointment{
    position:relative;
    font-size: 150%;   
    margin-top: 30px;
    margin-left: 150px;
    height: 50px;
    width: 300px;
    background-color:lightgray;
    border-radius:10px;
    margin-bottom:50px;
}

#appointment_a{
    position:absolute;
    top: 10px;
    left: 30px;
    text-decoration:none;
    color:darkblue;
}

/* Separator
============================================*/

.separator{
    height: 0px;
    width: 100%;
    border-style: dashed;
    border-width: 1px;
    border-color: lightgray;
    margin-bottom: 40px;
}

/* Opening Hours and Location
============================================*/

#openinghourslocation{
    position:relative;
    height:300px;
    width:900px;
    margin-left:150px;
}

#openinghours{
    position: absolute;
    right:0px;
    width:430px;
}

#openinghours_title{
    position: relative;
    width:100%;
    text-align:left;
    right:0px;
    font-size:120%;
    font-family: 'Signika', sans-serif;
    color:gray;
}

#openinghours_content{
    position: relative;
    text-align: left;
}

#openinghours_days{
    position: absolute;
    left: 0px;
}

#openinghours_hours{
    position: absolute;
    left: 100px;
}

#location{
    position: absolute;
    left: 0px;
    margin-left:0px;
    width: 430px;
}

#location_title{
    font-size:120%;
    font-family: 'Signika', sans-serif;
    color:gray;
    text-align:right;
}

#location_content{
    text-align:right
}

/* Request Appointment 
============================================*/

#requestappointment{
    margin-left:150px;
    position:relative;
    height:400px;
}

#requestappointment_title{
   font-size:150%;
   font-family: 'Signika', sans-serif;
   color:darkblue;
   opacity: 0.8;
}

#requestappointment_content{
    width: 400px;
}

/* About Us
============================================*/

#aboutus{
    position: relative;
    margin-left:150px;
    height: 450px;
    width: 900px;
}

#aboutus_title{
    position: relative;
    font-size:150%;
    font-family: 'Signika', sans-serif;
    color:red;
    opacity: 0.8;    
}

#aboutus_pic{
    position: relative;
    float:right;
    width: 350px;
    top: 60px;
    left: 0px;
    margin-bottom: 50px;
    margin-left: 50px;
    border-radius: 15px;
}

#aboutus_content{
    position: relative;
    margin-top:20px;
    width: 920px;
    height:600px;
    line-height : 140%;
}

/* Payment and Billing
============================================*/

#payment{
    position:relative;
    margin-left:150px;
}

#payment_title{
   font-size:150%;
   font-family: 'Signika', sans-serif;
   color:darkblue;
   opacity: 0.8;
   margin-bottom: 30px;
}

<<<<<<< .merge_file_a08368
#payment_content{
    width: 600px;
    line-height : 140%;
    margin-bottom:150px;
=======
#contact_content{
    width: 400px;
    height:600px;
}

/* POPUP WINDOW
============================================*/
#backgroundPopup { 
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000; 
    top:0px;  
    left:0px;
}
#toPopup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width: 800px;
    z-index: 2;
}
div.loader {
    background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
div.close {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -69px;
    text-align: center;
    top: -51px;
    width: 100px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
>>>>>>> .merge_file_a05616
}