body{
    font-family: "Georgia";
    margin-left:130px;
    position:relative;
}


/* BACK TO TOP 
============================================*/

#back_top {
    position: fixed;
    bottom: 30px;
    right: 300px;
}

#back_top a {
    display: block;
    text-decoration: none;
    color: gray;
}
#back_top a:hover {
    color: black;
}

/* HOMEPAGE 
============================================*/

#header {
    height: 70px;
    position:relative;
    margin-left:5px;
    margin-top:30px;
    font-size:130%;
}

#header a {
    text-decoration:none;
    color:black;
    opacity: 0.7;
}

#header_services {
    margin-right:20px;
}

#header_services a {
}

#header_separator1{
    color:black;
    opacity: 0.7;
}

#header_about {
    margin-right:20px;
    margin-left:20px;
}

#header_about a {
}

#header_separator2{
    color:black;
    opacity: 0.7;
}

#header_contact {
    margin-left:20px;
}

#header_contact a {   
}

#picture{
    position:absolute;
    left: 600px;
}

#title{
    position:relative;
    width:500px;
    height:150px;
    font-family: 'Signika', sans-serif;
}

#title_main{
    position:absolute;
    font-size:300%;
    color:darkblue;
    left:0px;
    top:0px;
}

#title_sub{
    position:absolute;
    font-size:200%;
    color:darkblue;
    left:0px;
    top:60px;
}

#reasons{
    position:relative;
    height:100px;
    margin-left:50px;
}

#reason_1{
    position:absolute;
    top:0px;
}

#reason_2{
    position:absolute;
    top:20px;
}

#reason_3{
    position:absolute;
    top:40px;
}

#reason_4{
    position:absolute;
    top:60px;
}

#appointment{
    font-size: 150%;   
    margin-left: 20px;
    height:300px;
}

/* SERVICES
============================================*/

#services{
    font-size:200%;
    font-family: 'Signika', sans-serif;
    color:red;
    opacity: 0.8;
}

#services_content{
    width: 400px;
    height:600px;
}

/* ABOUT 
============================================*/

#about{
    font-size:200%;
    font-family: 'Signika', sans-serif;
    color:darkblue;
}

#about_content{
    width: 400px;
    height:600px;
}

/* CONTACT 
============================================*/

#contact{
   font-size:200%;
   font-family: 'Signika', sans-serif;
   color:red;
   opacity: 0.8;
}

#contact_content{
    width: 400px;
    height:600px;
}

/* POPUP WINDOW
============================================*/
#backgroundPopup { 
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000; 
    top:0px;  
    left:0px;
}
#toPopup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width: 800px;
    z-index: 2;
}
div.loader {
    background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
div.close {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -69px;
    text-align: center;
    top: -51px;
    width: 100px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
}