BODY, TD {

    font-family: 'Georgia';
}

A {
}

A:Hover {
}

/* Header and Nav
================================================== */

#header {
    width:100%;
    background:#fff;
}

#header_content {
    width:950px;
    position:relative;
    padding:0 0 0 10px;
    margin:0 auto;
}

#navigation {
    width:540px; 
    height:53px;
    /* background:url("../images/background_navigation.jpg") 0 0 no-repeat; */
    position:absolute;
    top:19px;
    left:5px;
    z-index:10;
}

#navigation li {
    float:left;
    list-style:none;
    padding:0;
    margin:0;
}

#navigation li a {
    height:53px;
    float:left;
    display:block;
    /* text-indent:-999999px; */
}

#navigation li a.nav_testimonials {
    width:145px;
    /* background:url("../images/nav_testimonials.jpg") 0 0 no-repeat; */
    position:relative;
    margin:0 3px 0 0;
}

#navigation li a.nav_testimonials span {
    width:145px;
    /* background:url("../images/nav_testimonials.jpg") 0 0 no-repeat; */
    background-position: 0 -53px;
    position:absolute;
    top:0; left:0; bottom:0; right:0;
}


#website_title {
    position: absolute;
    top:60px;
    left:70px;
}

#website_title_main {
    position:relative;
    text-align:center;
    font-family: 'Stalemate', cursive;
    font-size: 400%;
}

#website_title_sub {
    position:relative;
    top:-20px;
    font-size: 180%;
    text-align:center;
}
